@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Noto Serif", serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'modernofb';
    src: url('/public/font/modernofbcomp-bold.otf'),
}

.font-modernofb {
    font-family: 'modernofb';
}

body {
    background-image: url("../src/assets/images/png/page-bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.rfm-marquee-container {
    gap: 62px;
}

.latest-twitter svg {
    max-width: 18px;
    max-height: 22px;

    path {
        fill: #55ACEE;
    }
}

.bg-img {
    background-image: url("./assets/images/png/team-swiper-bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:639.98px) {
    .swiper-arrow svg {
        max-width: 18px;
        max-height: 25px;
    }
}